<section>
  <form
    [formGroup]="formularioTablaDeMesas"
    (ngSubmit)="obtenerMesasConFiltros()"
  >
    <button (click)="inscribirse($event)" id="aaddds">Prueba</button>
    <label for="">
      Fecha de inicio:
      <select formControlName="dia">
        @for (dia of fechasMesas.dia; track dia) {
        <option>{{dia}}</option>
        }
      </select>
    </label>
    <label for="hora">
      Hora:
      <select formControlName="hora">
        @for (hora of fechasMesas.hora; track hora) {
        <option>{{hora}}</option>
        }
      </select>
    </label>
    <label for="materia"
      >Materia:

      <select formControlName="materia">
        @for(materia of materias; track materia.id_materia) {
        <option [value]="materia.nombre">{{materia.nombre}}</option>
        }
      </select>
    </label>
    <label for="carrera"
      >Modalidad:

      <select formControlName="carrera">
        @for(carrera of carreras; track carrera.id_carrera) {
        <option [value]="carrera.nombre">{{carrera.nombre}}</option>
        }
      </select>
    </label>
    <label for="ano"
      >Año:

      <select formControlName="curso">
        @for(curso of cursos; track curso) {
        <option [value]="curso">{{curso}}°</option>
        }
      </select>
    </label>
    <input type="submit" value="Buscar mesa" />
  </form>
  <table>
    <caption>
      Planilla de Evaluación
    </caption>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Año</th>
        <th>Modalidad</th>
        <th>Materia</th>
        <th>Tribunal</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for(mesa of mesas; track mesa.id_mesa_examen) {
      <tr>
        <td>{{mesa.dia}}</td>
        <td>{{mesa.ano}}</td>
        <td>{{mesa.carrera}}</td>
        <td>{{mesa.materia}}</td>
        <td>
          {{mesa.profesor_titular}}, {{mesa.profesor_primer_vocal}},
          {{mesa.profesor_segundo_vocal}}
        </td>
        <td>
          <button [id]="mesa.id_mesa_examen" (click)="inscribirse($event)">
            Inscribirse
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
