<section>
  <form
    [formGroup]="formularioTablaDeMesas"
    (ngSubmit)="obtenerMesasConFiltros()"
  >
    <label for="">
      Fecha de inicio:
      <select formControlName="dia">
        @for (dia of fechasMesas.dia; track dia) {
          <option>{{dia}}</option>
        }
      </select>
    </label>
    <label for="hora">
      Hora:
      <select formControlName="hora">
        @for (hora of fechasMesas.hora; track hora) {
          <option>{{hora}}</option>
        }
      </select>
    </label>
    <label
      >Materia:

      <select formControlName="id_materia">
        <option [defaultSelected]="true" disabled>Seleccione una materia</option>
        @for(materia of materias; track materia.id_materia) {
          <option [value]="materia.id_materia">{{materia.nombre}}</option>
        }
      </select>
    </label>
    <label for="carrera"
      >Carrera:

      <select formControlName="id_carrera">
        <option [defaultSelected]="true" disabled>Seleccione una carrera</option>
        @for(carrera of carreras; track carrera.id_carrera) {
          <option [value]="carrera.id_carrera">{{carrera.nombre}}</option>
        }
      </select>
    </label>
    <label for="ano"
      >Año:

      <select formControlName="ano">
        @for(ano of anos; track ano) {
        <option [value]="ano">{{ano}}°</option>
        }
      </select>
    </label>
    <input type="submit" value="Buscar mesa" />
  </form>
  <table>
    <caption>
      Planilla de Evaluación
    </caption>
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Año</th>
        <th>Modalidad</th>
        <th>Materia</th>
        <th>Tribunal</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for(mesa of mesas; track mesa.id_mesa_examen) {
      <tr>
        <td>{{mesa.dia}}</td>
        <td>{{mesa.ano}}</td>
        <td>{{mesa.carrera}}</td>
        <td>{{mesa.materia}}</td>
        <td>
          {{mesa.profesor_titular}}, {{mesa.profesor_primer_vocal}},
          {{mesa.profesor_segundo_vocal}}
        </td>
        <td>
          <button [id]="mesa.id_mesa_examen" (click)="inscribirse($event)">
            Inscribirse
          </button>
        </td>
      </tr>
      } @empty {
        <tr>
          <td>
            {{error}}
          </td>
        </tr>
      }
    </tbody>
  </table>
</section>
