<h2 class="tx-center">Agregar un Posteo</h2>

<div class="form-container">
    <div class="form">
        <label for="image">Agrege la imagen de portada</label><br>
        <input id="image" type="file" accept="image/*" formControlName="image" placeholder="Ingrese la URL de la imagen" /><br>
        <label for="title">Titulo</label><br>
        <input id="title" formControlName="title" placeholder="Ingrese el titulo de la novedad" /><br>
        <label for="content">Contenido</label><br>
        <textarea id="content" formControlName="content" placeholder="Ingrese el contenido de la novedad"></textarea><br>
    </div>
</div>