form {
    max-width: 1320px;
    font-weight: 500;
    margin: 50px auto;
    padding: 20px 10px;
    & label {
      font-size: 1.5rem;
    }
  }
  select {
    margin-bottom: 15px;
  }
  input {
    margin-bottom: 20px;
  }
  #curso-division {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  #curso-division > div {
    width: 100%;
  }
  