<footer class="row">
  <a class="col" href="#"><img src="assets/imgs/brand.svg" alt="713 Brand Logo"></a>
  <nav class="col row navPages">
      <a class="col" href="#">Home</a>
      <p class="col"><i class="fa-solid fa-location-dot"></i> Alsina 2250, Esquel, Chubut</p>
      <p class="col"><i class="fa-solid fa-phone"></i> 2945 45-1395</p>
  </nav>
  <nav class="col navRedes">
      <a href="https://www.instagram.com/laradiodela713/"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.facebook.com/escuela713/"><i class="fa-brands fa-facebook"></i></a>
  </nav>
</footer>