<footer>
  <a href="#" class="aImg"><img src="../../../assets/brand 713.svg" alt="713 Brand Logo"></a>
  <nav class="navPages">
      <a href="#">Home</a>
      <p><i class="fa-solid fa-location-dot"></i> Alsina 2250, Esquel, Chubut</p>
      <p><i class="fa-solid fa-phone"></i> 2945 45-1395</p>
  </nav>
  <nav class="navRedes">
      <a href="https://www.instagram.com/laradiodela713/"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.facebook.com/escuela713/"><i class="fa-brands fa-facebook"></i></a>
  </nav>
</footer>