footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;

    background-color: var(--color-3);
    color: var(--color-1);
    font-size: 1.5rem;
    padding: 1% 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    & .aImg {
        height: 100%;
    }
    & img {
        height: 100%;
    }
    & .navPages {
        display: flex;
        gap: 50px;
        & a {
            text-transform: uppercase;
            text-decoration: underline;
            text-underline-offset: 10px;
        }
    }
    & .navRedes {
        font-size: 2rem;
        display: flex;
        gap: 20px;
    }
    & a {
        color: var(--color-1);
        text-decoration: none;
    }
}