<div id="accordion">
    <div class="card">
        <div class="card-header bg-info">
            <a class="card-link text-white" data-toggle="collapse">Domicilio
                <i class='fas fa-angle-double-down float-right'></i>
            </a>
        </div>
        <div class="form-group">
            <label>Barrio</label>
            <input type="text" name="barrio" id="barrio" class="form-control"
                placeholder="Ingrese aquí el Barrio" maxlength="45" required>
            <div class="invalid-feedback">
                Ingrese el barrio
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-8">
                <div class="form-group">
                    <label>Calle</label>
                    <input type="text" name="calle" id="calle"
                        class="form-control" placeholder="Ingrese aquí la Calle"
                        maxlength="45" required>
                    <div class="invalid-feedback">
                        Ingrese la calle
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <div class="form-group">
                    <label>Número</label>
                    <input type="number" name="numero" id="numero"
                        class="form-control"
                        placeholder="Ingrese aquí el Número" maxlength="4"
                        required>
                    <div class="invalid-feedback">
                        Ingrese el numero
                    </div>
                </div>
            </div>
        </div>

