<app-nav></app-nav>
<app-header></app-header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card w3-hover-shadow w3-center h-100">
                    <img class="card-img-top" src="assets/colegio1.jpg" alt="Colegio 713">
                    <br>
                    <h3 class="card-title text-center">Colegio 713</h3>
                    <p class="card-text"></p>
                    <div class="w3-display-middle w3-display-hover w3-xlarge">
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card w3-hover-shadow w3-center h-100">
                    <img class="card-img-top" src="assets/orientaciones1.jpg" alt="Orientación">
                    <br>
                    <h4 class="card-title text-center">Orientaciones</h4>
                    <p class="card-text">Comunicaciones - Humanidades - ETP</p>
                    <div class="w3-display-middle w3-display-hover w3-xlarge">
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card w3-hover-shadow w3-center h-100">
                    <img class="card-img-top" src="assets/evento.jpeg" alt="Eventos">
                    <br>
                    <h3 class="card-title text-center">Eventos</h3>
                    <p class="card-text"></p>
                    <div class="w3-display-middle w3-display-hover w3-xlarge">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>