.logo{width: 60px;}
.body{font-family: 'Raleway', sans-serif;}

#guardar {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}

#guardar:hover {
    background-color: #45a049; 
}

<<<<<<< HEAD

.ng-valid:not(form).ng-touched {
    border-left: 5px solid #45a049
}
.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442;
}
=======
.ng-valid:not(form).ng-touched {

    border-left: 5px solid #42A948; /* green */
    
    }
    
    .ng-invalid:not(form).ng-touched {
    
    border-left: 5px solid #a94442; /* red */
    
    }
>>>>>>> origin/Elu-Santi
