<nav class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start gap-2">

      <li class="dropdown nav col-12 col-md-auto me-md-auto mb-2 justify-content-center mb-md-0">
        <a class="dropdown-toggle px-2 text-white" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">Datos Materias</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/dashboard/carreras">Carreras</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/materias">Materias</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/planes">Planes</a></li>
        </ul>
      </li>

      <li>
        <a class="text-end px-2 text-white" routerLink="/dashboard/filtro">Datos Personales</a>
      </li>

      <li class="dropdown nav col-12 col-md-auto me-md-auto mb-2 justify-content-center mb-md-0">
        <a class="dropdown-toggle px-2 text-white" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">Mesas de examenes</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/dashboard/inscripcion-mesa">Inscripcion</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/registro-mesa">Registro</a></li>
        </ul>
      </li>

      <li class="dropdown nav col-12 col-md-auto me-md-auto mb-2 justify-content-center mb-md-0">
        <a class="dropdown-toggle px-2 text-white" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">Cooperadora</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/dashboard/cooperadora-movimientos">Movimientos</a></li>

          <li><a class="dropdown-item" routerLink="/dashboard/cooperadora-historial">Historial</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/cooperadora-compra">Registrar Compra</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/cooperadora-ingresos">Registrar Ingreso</a></li>
        </ul>
      </li>

      <li class="dropdown nav col-12 col-md-auto me-md-auto mb-2 justify-content-center mb-md-0">
        <a class="dropdown-toggle px-2 text-white" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">Bienes registrados</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/dashboard/bienes-registrados">Ver bienes registrados</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/inventario">Inventario</a></li>
        </ul>
      </li>

      <li class="dropdown nav col-12 col-md-auto me-md-auto mb-2 justify-content-center mb-md-0">
        <a class="dropdown-toggle px-2 text-white" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">Incidencias</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/dashboard/registro-incidencias">Registro Incidencia</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/incidencias-pendientes">Incidencias Pendientes</a></li>
        </ul>
      </li>
    </div>
  </div>
</nav>