<nav class="homeNav">
  <div class="divCenter row">
    <nav class="col row">
      <li class="col dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Datos Academicos</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/dashboard/analitico">Analitico</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/datos-academicos/filtro">Calificador</a></li>
        </ul>
      </li>
      <li class="col dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Datos Materias</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/dashboard/carreras">Carreras</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/materias">Materias</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/planes">Planes</a></li>
        </ul>
      </li>
      <a class="col" routerLink="/dashboard/filtro">Datos Personales</a>
    </nav>
  </div>
</nav>