<nav class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start gap-2">

      <li class="dropdown nav col-12 col-md-auto me-md-auto mb-2 justify-content-center mb-md-0">
        <a class="dropdown-toggle px-2 text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Datos Academicos</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/dashboard/analitico">Analitico</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/datos-academicos/filtro/calificador">Calificador</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/datos-academicos/filtro/boletin">Boletín</a></li>
        </ul>
      </li>

      <li class="dropdown nav col-12 col-md-auto me-md-auto mb-2 justify-content-center mb-md-0">
        <a class="dropdown-toggle px-2 text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Datos Materias</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" routerLink="/dashboard/carreras">Carreras</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/materias">Materias</a></li>
          <li><a class="dropdown-item" routerLink="/dashboard/planes">Planes</a></li>
        </ul>
      </li>

      <a class="text-end px-2 text-white" routerLink="/dashboard/filtro">Datos Personales</a>
      <a class="text-end px-2 text-white" routerLink="/dashboard/inventario">inventario</a>

    </div>
  </div>
</nav>