nav {
    background-color: var(--color2);
    color: var(--color3);
    height: 50px;
    align-items: center;
    position: relative;
    & .divCenter {
        width: 80%;
        height: 100%;
        margin: auto;
        text-align: center;
        align-items: center;
        & nav {
            & a {
                color: var(--color3);
                font-weight: 400;
                font-size: 1.8rem;
                text-decoration: none;
                text-transform: uppercase;
                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 5px;
                }
            }
            & li {
                list-style-type: none;
                & ul {
                    background-color: var(--color2);
                    font-weight: 500;
                    & li {
                        & a:hover {
                            background-color: var(--color3);
                            color: var(--color2);
                        }
                    }
                }
            }
        }
    }
}