<h1 class="datosPersonalesTitle">Sistema de Gestión de Datos Personales</h1>
<div class="container">
  <h1>Datos del Tutor</h1>
  <form id="formularioAlumno" [formGroup]="datosTutorForm">
    <form id="formularioAlumno" [formGroup]="datosTutorForm">
      <div class="row mb-3">
        <div class="col-sm-6">
          <label for="nombre" class="form-label">Nombre/s:</label>
          <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre" formControlName="nombre">
          @if (nombre.errors && nombre.touched) 
          {
            <div class="text-danger">{{ nombreErrors }}</div>
          }
        </div>
        <div class="col-sm-6">
          <label for="apellido" class="form-label">Apellido/s:</label>
          <input type="text" class="form-control" id="apellido" placeholder="Ingrese el apellido" formControlName="apellido">
          @if (apellido.errors && apellido.touched) 
          {
            <div class="text-danger">{{ apellidoErrors }}</div>
          }
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6">
          <label for="dni" class="form-label">DNI:</label>
          <input type="number" class="form-control" id="dni" placeholder="Ingrese el DNI" formControlName="dni">
          @if (dni.errors && dni.touched) 
          {
            <div class="text-danger">{{ dniErrors }}</div>
          }
        </div>
        <div class="col-sm-6">
          <label for="cuil" class="form-label">CUIL:</label>
          <input type="text" class="form-control" id="cuil" placeholder="Ingrese el CUIL" formControlName="cuil">
          @if (cuil.errors && cuil.touched) 
          {
            <div class="text-danger">{{ cuilErrors }}</div>
          }
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6">
          <label for="genero" class="form-label">Género:</label>
          <select class="form-select" id="genero" formControlName="genero">
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="No Binario">X</option>
          </select>
          @if (genero.errors && genero.touched) 
          {
            <div class="text-danger">{{ generoErrors }}</div>
          }
        </div>
        <div class="col-sm-6">
          <label for="trabajo" class="form-label">Trabajo:</label>
          <input type="text" class="form-control" id="trabajo" placeholder="Ingrese el trabajo" formControlName="trabajo">
          @if (trabajo.errors && trabajo.touched) 
          {
            <div class="text-danger">{{ trabajoErrors }}</div>
          }
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6">
          <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
          <input type="date" class="form-control" id="fechaNacimiento" formControlName="fechaNacimiento">
          @if (fechaNacimiento.errors && fechaNacimiento.touched) 
          {
            <div class="text-danger">{{ fechaNacimientoErrors }}</div>
          }
        </div>
        <div class="col-sm-6">
          <label for="provinciaNacimiento" class="form-label">Provincia de Nacimiento:</label>
          <select class="form-select" id="provinciaNacimiento" formControlName="provinciaNacimiento"></select>
          @if (provinciaNacimiento.errors && provinciaNacimiento.touched) 
          {
            <div class="text-danger">{{ provinciaNacimientoErrors }}</div>
          }
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6">
          <label for="localidadNacimiento" class="form-label">Localidad de Nacimiento:</label>
          <input type="text" class="form-control" id="localidadNacimiento" placeholder="Ingrese la localidad" formControlName="localidadNacimiento">
          @if (localidadNacimiento.errors && localidadNacimiento.touched) 
          {
            <div class="text-danger">{{ localidadNacimientoErrors }}</div>
          }
        </div>
        <div class="col-sm-6">
          <label for="domicilioPais" class="form-label">País de Domicilio:</label>
          <select class="form-select" id="domicilioPais" formControlName="paisDomicilio"></select>
          @if (paisDomicilio.errors && paisDomicilio.touched) 
          {
            <div class="text-danger">{{ paisDomicilioErrors }}</div>
          }
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6">
          <label for="domicilioProvincia" class="form-label">Provincia del Domicilio:</label>
          <select class="form-select" id="domicilioProvincia" formControlName="provinciaDomicilio"></select>
          @if (provinciaDomicilio.errors && provinciaDomicilio.touched) 
          {
            <div class="text-danger">{{ provinciaDomicilioErrors }}</div>
          }
        </div>
        <div class="col-sm-6">
          <label for="domicilioLocalidad" class="form-label">Localidad del Domicilio:</label>
          <input
            type="text"
            class="form-control"
            id="domicilioLocalidad"
            placeholder="Ingrese la localidad"
            formControlName="localidadDomicilio"
          />
          @if (localidadDomicilio.errors && localidadDomicilio.touched) 
          {
            <div class="text-danger">{{ localidadDomicilioErrors }}</div>
          }
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6">
          <label for="domicilioBarrio" class="form-label">Barrio del Domicilio:</label>
          <input
            type="text"
            class="form-control"
            id="domicilioBarrio"
            placeholder="Ingrese el barrio"
            formControlName="barrio"
          />
          @if (barrio.errors && barrio.touched) 
          {
            <div class="text-danger">{{ barrioErrors }}</div>
          }
        </div>
        <div class="col-sm-6">
          <label for="calle" class="form-label">Calle:</label>
          <input
            type="text"
            class="form-control"
            id="calle"
            placeholder="Ingrese la calle"
            formControlName="calle"
          />
          @if (calle.errors && calle.touched) 
          {
            <div class="text-danger">{{ calleErrors }}</div>
          }
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6">
          <label for="numeroPiso" class="form-label">Número de Piso:</label>
          <input
            type="text"
            class="form-control"
            id="numeroPiso"
            placeholder="Ingrese el número de piso"
            formControlName="nroPiso"
          />
        </div>
        <div class="col-sm-6">
          <label for="numeroDepartamento" class="form-label">Número de Departamento:</label>
          <input
            type="text"
            class="form-control"
            id="numeroDepartamento"
            placeholder="Ingrese el número de departamento"
            formControlName="nroDpto"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-6">
          <label for="numeroTelefono" class="form-label">Teléfono:</label>
          <input
            type="tel"
            class="form-control"
            id="numeroTelefono"
            placeholder="Ingrese el número de teléfono"
            formControlName="telefono"
          />
          @if (telefono.errors && telefono.touched) 
          {
            <div class="text-danger">{{ telefonoErrors }}</div>
          }
        </div>
        <div class="col-sm-6">
          <label for="email" class="form-label">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Ingrese el email"
            formControlName="mailTutor"
          />
          @if (mailTutor.errors && mailTutor.touched) 
          {
            <div class="text-danger">{{ mailTutorErrors }}</div>
          }
        </div>
      </div>
      <button type="submit" class="btn btnSave">Guardar Tutor</button>
    </form>
  </form>
</div>
