asgiref==3.8.1
Django==5.1.1
django-cors-headers==4.4.0
djangorestframework==3.15.2
gunicorn==23.0.0
mysql==0.0.3
mysqlclient==2.2.7
packaging==25.0
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
