<a rel="stylesheet" routerLink="/dashboard/editarPlanes" class="btn btn-primary m-1" data-dismiss="modal">Nuevo</a>
<div class="col-sm">
    <table class="table table-bordered table-hover ">
        <thead>
            <tr class="table-primary">
                <th>Nombre</th>
                <th>Titulo</th>
                <th>Descripción</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>......</th>
                <th>........</th>
                <th>...........</th>
                <th>

                    <a rel="stylesheet" routerLink="/dashboard/editarPlanes" class="btn btn-primary m-1"
                        data-dismiss="modal">Editar</a>
                    <a rel="stylesheet" href="desactivarPlan.html" class="btn btn-primary m-1"
                        data-dismiss="modal">Desactivar</a>
                    <a rel="stylesheet" href="materias.html" class="btn btn-success m-1"
                        data-dismiss="modal">Materias</a>
                </th>

            </tr>
            <tr>
                <th>Humanidades</th>
                <th>tecnico en la humanidad</th>
                <th>fumo porro y me encanta fiosofia</th>
            </tr>
        </tbody>

    </table>
</div>