<a rel="stylesheet" routerLink="/dashboard/editarPlanes" class="btn btn-success m-1" data-dismiss="modal">Nuevo</a>
<div class="col-sm">
    <table class="table table-bordered table-hover ">
        <thead>
            <tr class="table-primary">
                <th>Nombre</th>
                <th>Titulo</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of planes" >
                <th>{{item.nombre}}</th>
                <th>{{item.titulo}}</th>
                <th>{{item.descripcion}}</th>
                <th>

                    <a rel="stylesheet" routerLink="/dashboard/editarPlanes" class="btn btn-info m-1"
                        data-dismiss="modal">Editar</a>
                    <a rel="stylesheet" routerLink="desactivarPlan" class="btn btn-danger m-1"
                        data-dismiss="modal">Eliminar</a>
                    <a rel="stylesheet" routerLInk="./pages/materias/materias.component" class="btn btn-warning m-1"
                        data-dismiss="modal">Materias</a>
                </th>

            </tr>
     
        </tbody>

    </table>
</div>