form{
   background-color:firebrick;
   padding: 25px 30px;
   border-radius: 12px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   max-width: 500px;
   margin: 20px auto;
}
h2{ 
    text-align: center;
    color:black;
    margin-bottom: 20px;
}
label{
    font-weight: 500;
    color:white;
    display:block;
    margin-bottom: 3px;
}
input[type="text"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: border-color 0.3s ease,
    box-shadow 0.3s ease;
    margin-bottom: 5px;
}
input:focus,
select:focus,
textarea:focus {
    border-color: #0066cc;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.3);
    outline:none;
}
button{
    background-color: honeydew;
    color:black;
    border:none;
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, 
    transform 0.2s ease;
    display: block;
    margin: 0 auto;
}
button:hover{
    background-color: #004c99;
    transform: scale(1.02);
}

div{
    background-color: #f7f9fc;
    border-left: 4px solid #0066cc;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}
