 <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="">
          <div class="card-header text-center">
            <h4>Registro de Compra</h4>
          </div>
          <div class="card-body">
            <form>
              <!-- Monto -->
              <div class="mb-3">
                <label for="monto" class="form-label">Monto</label>
                <input type="number" class="form-control" id="monto" placeholder="Ingrese el monto" required>
              </div>

              <!-- Fecha -->
              <div class="mb-3">
                <label for="fecha" class="form-label">Fecha</label>
                <input type="date" class="form-control" id="fecha" required>
              </div>

              <!-- Motivo -->
              <div class="mb-3">
                <label for="motivo" class="form-label">Motivo</label>
                <textarea class="form-control" id="motivo" rows="3" placeholder="Describa el motivo de la compra" required></textarea>
              </div>

              <!-- Botón -->
              <div class="">
                <button type="submit" class="btn btn-primary mt-4">Registrar Compra</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  

  
