<form action="../../form-result.php" method="post" target="_blank"></form>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">busqueda de carrera</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form class="d-flex">
                    <input class="form-control me-2" type="ingrese la carrera" placeholder="Ingrese la carrera"
                        aria-label="ingrese la carrera">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

<header>

</header>
<div>
    <form name="frm_carrera" id="frm_carrera">
        <div class="modal-header">
            <h4 name="titulo" id="titulo" class="title">Primer pantalla</h4>
        </div>
        <div>
            <a rel="stylesheet" href="form-carerras.component.html" class="btn btn-primary m-1" data-dismiss="modal" >Nuevo</a>
            
            
        </div>







        <div class="col-sm">
            <table class="table table-bordered table-hover ">
                <thead>
                    <tr class="table-primary">
                        <th>Nombre</th>
                        <th>Titulo</th>
                        <th>Descripción</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>E.T.P</th>
                        <th>Tecnico Superior en Informatica</th>
                        <th>Educacion Tecnologica Profesional</th>
                        <th>
                            <a rel="stylesheet" routerLink="/dashboard/editar-carreras" class="btn btn-primary" data-dismiss="modal" >Editar</a>
                            <a rel="stylesheet" href="desactivarCarrera.html" class="btn btn-primary m-1" data-dismiss="modal" >Desactivar</a>
                            <a rel="stylesheet" href="planes.html" class="btn btn-success m-1" data-dismiss="modal" >Planes</a>

                        </th>
                    </tr>
                    <tr>
                        <th>Humanidades</th>
                        <th>tecnico en la humanidad</th>
                        <th>fumo porro y me encanta fiosofia</th>
                        <th>
                            <a rel="stylesheet" routerLink="/dashboard/editar-carreras" class="btn btn-primary" data-dismiss="modal" >Editar</a>
                            <a rel="stylesheet" href="desactivarCarrera.html" class="btn btn-primary m-1" data-dismiss="modal" >Desactivar</a>
                            <a rel="stylesheet" href="planes.html" class="btn btn-success m-1" data-dismiss="modal" >Planes</a>
                        </th>
                    </tr>
                </tbody>

            </table>
        </div>







