<div class="modal-content">
    <form name="frm_carrera" id="frm_carrera">
        <div class="modal-header">
            <h4 name="titulo" id="titulo" class="title">Editar Carrera</h4>

        </div>
        <div class="modal-body">
            <div class="form-group ">
                <label>Carrera</label>
                <input type="hidden" name="id" id="id">
                <input type="text" name="name" id="name" class="form-control p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 " maxlength="45"
                    placeholder="Ingrese aquí la Carrera" required>
            </div>

            <div class="form-group ">
                <label>Descripción</label>
                <input type="hidden" name="id" id="id">
                <input type="text" name="name" id="name" class="form-control p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 " maxlength="45"
                    placeholder="Ingrese aquí una descripcion para Carrera" required>
            </div>
            <pre></pre>
            <div class="form-group">
                <label>Plan</label>
                <input type="number" name="plan" id="plan" maxlength="6" class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3" placeholder="Ingrese aquí el Plan"
                    required>
            </div>

        </div>
        <div class="modal-footer">
            <input type="submit" class="btn btn-info" value="Guardar datos">
            <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cancelar">
        </div>
    </form>
</div>
