

  <h2>Establecimiento: Juan Adbala Chayep 713</h2>
  <h2>Año: 1º &nbsp;&nbsp;&nbsp;&nbsp; Materia: Matematicas</h2>

  <table>
    <caption></caption>
    <thead>
      <tr>
        <th>Orden</th>
        <th>Apellido y Nombre</th>
        <th>DNI</th>
        <th colspan="3">Calificación de la Evaluación</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>Esc.</th>
        <th>Oral</th>
        <th>Final</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Pereira, Valentino</td>
        <td>50215996</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </tbody>
  </table>


