<h1>Escuela 713 Juan Abdala Chayep</h1>
<hr>
<br>
<h2>Modalidad: ETP</h2>
<hr>
<h2>Espacio curricular: Desarrollo</h2>
<hr>
<h2>Año: 1</h2>
<hr>

<table border="1">
  <caption></caption>
  <thead>
    <tr>
      <th rowspan="2">Orden</th>
      <th rowspan="2">Apellido y Nombre</th>
      <th rowspan="2">DNI</th>
      <th colspan="3">Calificación de la Evaluación</th>
    </tr>
    <tr>
      <th>Esc.</th>
      <th>Oral</th>
      <th>Final</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Pereira, Valentino</td>
      <td>50215996</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>1</td>
      <td>Pereira, Valentino</td>
      <td>50215996</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>1</td>
      <td>Pereira, Valentino</td>
      <td>50215996</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>1</td>
      <td>Pereira, Valentino</td>
      <td>50215996</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <td>1</td>
      <td>Pereira, Valentino</td>
      <td>50215996</td>
      <td>7</td>
      <td>6</td>
      <td>6</td>
    </tr>
  </tbody>
  <button>imprimir</button>
</table>


