<h1>Sistema de Gestión de Datos Personales</h1>
<!-- Tabla de datos de alumnos -->
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>CUIL</th>
                <th>Teléfono</th>
                <th>Carrera</th>
                <th>Legajo</th>
                <th>Fecha de Ingreso</th>
                <th>Libro de Matriz</th>
                <th>Fecha de Egreso</th>
                <th>Localidad</th>
                <th>Domicilio</th>
                <th>ID Tutor</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <!-- Ejemplo de datos de alumnos -->
            <tr *ngFor="let item of datostutor">
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.dni}}</td>
                <td>{{item.cuil}}</td>
                <td>{{item.nroTel}}</td>
                <td>{{item.estadoCivil}}</td>
                <td>{{item.profesion}}</td>
                <td>{{item.lugarTrabajo}}</td>
                <td>{{item.pais}}</td>
                <td>{{item.localidad}}</td>
                <td>{{item.barrio}}</td>
                <td>{{item.calle}}</td>
                <td>{{item.numero}}</td>
                <td>{{item.id}}</td>
                <td><button class="editar-alumno">Editar</button></td>
                <td><button class="eliminar-alumno">Eliminar</button></td>
            </tr>
            <!-- Puedes agregar más filas aquí -->
        </tbody>
    </table>

    
    <div class="container">
        <button routerLink="../editar-datos-personales">Agregar Alumno</button>
      </div>
