#datosAlumnos {
  margin: auto;
  max-width: 80%;
}
h1 {
  text-transform: uppercase;
  padding: 0;
  margin: 1% auto 2%;
}
.heading {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  column-gap: 10px;
  padding: 10px;
}
.accordion-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #f7f7f7;
}
.tutorInfo-child {
  display: flex;
  flex-direction: column;
}
.accordion-button {
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
#formulario-agregar {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #007bff;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 5px #888;
}
#formulario-agregar label,
#formulario-agregar input {
  display: block;
  margin: 10px 0;
}
.cont {
  margin: 1% auto 2%;
}
.accordion-body {
  font-size: 1.3rem;
  & .alumnoInfo {
    display: grid;
    grid-template-columns: 1fr;
  }
  & .tutorInfo {
    border-left: 2px solid;
    padding-left: 2%;
    & h3 {
      font-size: 2rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    & .tutorInfo-child {
      border-top: 2px solid;
    }
  }
}