<nav class="navbar bg-dark  navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SGE-713</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Alumnos</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Datos Personales</a></li>
                <li><a class="dropdown-item" routerLink="/dashboard/DatosAcademicos/calificador">Calificador</a></li>
                <li><a class="dropdown-item" routerLink="/dashboard/DatosAcademicos/analitico">Antalitico</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Registros
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/dashboard/carreras">Carreras</a></li>
              <li><a class="dropdown-item" routerLink="/dashboard/planes">Planes</a></li>
              <li><a class="dropdown-item" routerLink="/dashboard/materias">Materias</a></li>
              <li><a class="dropdown-item" routerLink="/dashboard/DatosPersonalesPantalla">DatosPersonales</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="">Asistencias</a></li>
              <li><a class="dropdown-item" routerLink="/dashboard/asistencias">Datos asistencias</a></li>

            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link ">Iniciar Sesión</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>