h1 {
  text-transform: uppercase;
  padding: 0;
  margin: 1% auto 2%;
}
form {
  max-width: 50%;
  margin: 0 auto;
  & label {
    font-size: 1.5rem;
  }
}
select {
  margin-bottom: 15px;
}
#curso-division {
  display: flex;
  gap: 10px;
  width: 100%;
}
#curso-division > div {
  width: 100%;
}
.cont {
  margin: 1% auto 2%;
}