<h1 class="datosPersonalesTitle">Buscador de Gestión de Datos Personales</h1>

<form [formGroup]="filter">

  <div id="curso-division">

    <div>
      <label for="nombre-input" class="form-label">Nombre y apellido</label>
      <input
        id="nombre-input"
        type="text"
        class="form-control"
        formControlName="nombreApellido"
        placeholder="Ej: Juan Perez"
      />
    </div>

    <div>
      <label for="dni-input" class="form-label">DNI</label>
      <input
        id="dni-input"
        type="text"
        class="form-control"
        formControlName="dni"
        placeholder="Ej: 45423912"
      />
    </div>

  </div>

  <button type="button" class="btn btnSave mb-2 mt-2" (click)="filtrar()">Buscar</button>
  <button type="button" class="btn btnSave" (click)="redirigir()">Cargar Alumno</button>

</form>