<app-header></app-header>
<app-nav></app-nav>
<section>
    <img class="homeImg" src="assets/imgs/colegio2.jpg" alt="Colegio 713" >
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <img src="assets/imgs/colegio1.jpg" class="card-img-top" alt="Colegio 713">
                    <div class="card-body">
                        <h3>Colegio 713 "Juan Abdala Chayep"</h3>
                        <p class="card-text">Institución educativa de Nivel Medio perteneciente al Ministerio de Educación de la provincia del Chubut.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <img src="assets/imgs/orientaciones.jpg" class="card-img-top" alt="Orientaciones">
                    <div class="card-body">
                        <h3>Orientaciones</h3>
                        <p class="card-text">Nuestra escuela ofrece orientaciones en Comunicaciones, Humanidades y ETP.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <img src="assets/imgs/colegio8.jpg" class="card-img-top" alt="Eventos">
                    <div class="card-body">
                        <h3>Eventos</h3>
                        <p class="card-text">Nuestra escuela organiza eventos que enriquecen la experiencia estudiantil, incluyendo conferencias, talleres y actividades culturales.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>