<main>
  <app-header></app-header>
  <app-nav></app-nav>
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-label="Slide 1"
        aria-current="true"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
        class=""
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
        class=""
      ></button>
    </div>
    <div class="carousel-inner h-100">
      <div class="carousel-item active">
        <img
          class="bd-placeholder-img object-fit-cover"
          width="100%"
          height="100%"
          src="assets/imgs/colegio1.jpg"
          alt="Colegio 713"
        />
        <div class="container d-none d-md-block">
          <div class="carousel-caption d-flex gap-2 flex-column">
            <h1 class="fw-bold display-4">Colegio 713</h1>
            <p class="fw-bold">"Juan Abdala Chayep"</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#">Más Información</a>
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          src="assets/imgs/colegio2.jpg"
          alt="Colegio 713"
        />
        <div class="container d-none d-md-block">
          <div class="carousel-caption d-flex gap-2 flex-column">
            <h1 class="fw-bold display-4">Colegio 713</h1>
            <p class="fw-bold">"Juan Abdala Chayep"</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#">Más Información</a>
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          src="assets/imgs/colegio3.jpg"
          alt="Colegio 713"
        />
        <div class="container d-none d-md-block">
          <div class="carousel-caption d-flex gap-2 flex-column">
            <h1 class="fw-bold display-4">Colegio 713</h1>
            <p class="fw-bold">"Juan Abdala Chayep"</p>
            <p>
              <a class="btn btn-lg btn-primary" href="#">Más Información</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

  <div class="container mw-100 px-4 py-5 bg-light" id="custom-cards">
    <h2
      class="pb-2 border-bottom border-5 border-dark text-center text-dark fw-bold"
    >
      Nuestro Colegio
    </h2>

    <div
      class="row row-cols-1 row-cols-xl-3 align-items-stretch g-4 pt-4 m-auto"
    >
      <div class="col">
        <div
          class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="
            background-image: url('assets/imgs/colegio4.jpg');
            background-size: cover;
          "
        >
          <div
            class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 bg-dark bg-opacity-50"
          >
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1">
              <span class="d-none d-sm-block fw-bold">Sus pasillos</span>
            </h3>
            <ul class="d-flex list-unstyled mt-auto flex-column flex-md-row">
              <li class="d-flex align-items-center me-3">
                <svg
                  class="bi me-2"
                  width="1em"
                  height="1em"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                >
                  <path
                    d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"
                  />
                </svg>
                <small>Pasillo</small>
              </li>
              <li class="d-flex align-items-center">
                <svg
                  class="bi me-2"
                  width="1em"
                  height="1em"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16z"
                  />
                </svg>
                <small>03/2018</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div
          class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="
            background-image: url('assets/imgs/colegio7.jpg');
            background-size: cover;
          "
        >
          <div
            class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 bg-dark bg-opacity-50"
          >
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1">
              <span class="d-none d-sm-block fw-bold"
                >Actos en el Salón de Usos Múltiples</span
              >
            </h3>
            <ul class="d-flex list-unstyled mt-auto flex-column flex-md-row">
              <li class="d-flex align-items-center me-3">
                <svg
                  class="bi me-2"
                  width="1em"
                  height="1em"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                >
                  <path
                    d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"
                  />
                </svg>
                <small>Sum</small>
              </li>
              <li class="d-flex align-items-center">
                <svg
                  class="bi me-2"
                  width="1em"
                  height="1em"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16z"
                  />
                </svg>
                <small>06/2019</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div
          class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
          style="
            background-image: url('assets/imgs/colegio8.jpg');
            background-size: cover;
          "
        >
          <div
            class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1 bg-dark bg-opacity-50"
          >
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1">
              <span class="d-none d-sm-block fw-bold"
                >Recursos de nuestra biblioteca</span
              >
            </h3>
            <ul class="d-flex list-unstyled mt-auto flex-column flex-md-row">
              <li class="d-flex align-items-center me-3">
                <svg
                  class="bi me-2"
                  width="1em"
                  height="1em"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                >
                  <path
                    d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"
                  />
                </svg>
                <small>Biblioteca</small>
              </li>
              <li class="d-flex align-items-center">
                <svg
                  class="bi me-2"
                  width="1em"
                  height="1em"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M128 0c17.7 0 32 14.3 32 32l0 32 128 0 0-32c0-17.7 14.3-32 32-32s32 14.3 32 32l0 32 48 0c26.5 0 48 21.5 48 48l0 48L0 160l0-48C0 85.5 21.5 64 48 64l48 0 0-32c0-17.7 14.3-32 32-32zM0 192l448 0 0 272c0 26.5-21.5 48-48 48L48 512c-26.5 0-48-21.5-48-48L0 192zm64 80l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm128 0l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zM64 400l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16zm144-16c-8.8 0-16 7.2-16 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0zm112 16l0 32c0 8.8 7.2 16 16 16l32 0c8.8 0 16-7.2 16-16l0-32c0-8.8-7.2-16-16-16l-32 0c-8.8 0-16 7.2-16 16z"
                  />
                </svg>
                <small>09/12/2018</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</main>
