<div class="container">
    <h1>Datos del Alumno</h1>

    <form id="formularioAlumno">
        <div class="row mb-3">
            <div class="col-sm-6">
                <label for="nombre" class="form-label">Nombre/s:</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre" required>
            </div>
            <div class="col-sm-6">
                <label for="apellido" class="form-label">Apellido/s:</label>
                <input type="text" class="form-control" id="apellido" placeholder="Ingrese el apellido" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">
                <label for="dni" class="form-label">DNI:</label>
                <input type="number" class="form-control" id="dni" placeholder="Ingrese el DNI" required>
            </div>
            <div class="col-sm-6">
                <label for="cuil" class="form-label">CUIL:</label>
                <input type="text" class="form-control" id="cuil" placeholder="Ingrese el CUIL" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">
                <label for="genero" class="form-label">Género:</label>
                <select class="form-select" id="genero" required>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="No Binario">X</option>
                </select>
            </div>
            <div class="col-sm-6">
                <label for="legajo" class="form-label">Número de Legajo:</label>
                <input type="number" class="form-control" id="legajo" placeholder="Ingrese el número de legajo" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">
                <label for="fechaIngreso" class="form-label">Fecha Ingreso:</label>
                <input type="date" class="form-control" id="fechaIngreso">
            </div>
            <div class="col-sm-6">
                <label for="libroMatriz" class="form-label">Número de Libro Matriz:</label>
                <input type="number" class="form-control" id="libroMatriz" placeholder="Ingrese el número de libro matriz" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">
                <label for="fechaEgreso" class="form-label">Fecha Egreso:</label>
                <input type="date" class="form-control" id="fechaEgreso">
            </div>
            <div class="col-sm-6"></div> </div>
        <button type="submit" class="btn btnSave">Guardar Alumno</button>
    </form>
</div>