
<div class="modal-body">
    <div role="tabbable">
        <!-- Tab panes -->
        <ul class="nav nav-tabs" role="tablist">	
            <li  class="nav-item active"><a class="nav-link active" routerLink="/dashboard/DatosAlumno" data-toggle="tab">Datos Alumno</a>
            </li>
            <li   class="nav-item"><a class="nav-link"  routerLink="/dashboard/DatosPersonales"  data-toggle="tab">Datos Personales</a>
            </li>
            <li   class="nav-item"><a class="nav-link"  routerLink="/dashboard/DatosTutores" data-toggle="tab">Datos Tutores</a>
            </li>
        </ul>




        <div role="tabpanel" class="tab-pane active" id="datos_alumnotab">
            <div class="container-fluid mt-2">

        </div>


