    <div>
        <h1 class="text-center">REGISTRO DE EVALUACIÓN</h1>
        <h3 class="text-center">EDUCACIÓN SECUNDARIA</h3>
        
        <h5 class="text-center">CICLO SUPERIOR - ETP INFORMÁTICA P Y P</h5>
    </div>

<div class="container-fluid">
    <div>
        <h5 class="text-center">Estudiante:</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td class="border border-dark">Marta Sanchez</td>
                </tr>
                <tr>
                    <td class="border border-dark">DNI:</td>
                </tr>
                <tr>
                    <td class="border border-dark">N° DE LEGAJO:</td>
                </tr>
                <tr>
                    <td class="border border-dark">LIBRO M.:        FOLIO:</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid">
        <div class="col-10">
            <div class="row m-s">
                <div class="col-2 text-center">
                </div>
            <h1 class="text-center">2024</h1>
            <table class="table">
                            <thead>
                                <tr>
                                    <th class="border border-dark" colspan="3">Estudiante: Marta Sanchez</th>
                                    <th class="border border-dark" colspan="2">Año: 7°</th>
                                    <th class="border border-dark" colspan="2">División: 1° ETP</th>
                                    <th class="border border-dark" colspan="3">Turno: M/T</th>
                                </tr>
                                <tr>
                                    <th class="border border-dark" scope="col">Espacio curricular</th>
                                    <th class="border border-dark" scope="col">1° Cuatrimestre</th>
                                    <th class="border border-dark" scope="col">2° Cuatrimestre</th>
                                    <th class="border border-dark" scope="col">Calificación final</th>
                                    <th class="border border-dark" scope="col">DIC</th>
                                    <th class="border border-dark" scope="col">FEB/MAR</th>
                                    <th class="border border-dark" scope="col">TAE</th>
                                    <th class="border border-dark" scope="col">EXT</th>
                                    <th class="border border-dark" scope="col">Calificación definitiva</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="border border-dark" scope="row">Lengua</th>
                                    <td class="border border-dark">8</td>
                                    <td class="border border-dark">8</td>
                                    <td class="border border-dark">8</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                </tr>
                                <tr>
                                    <th class="border border-dark" scope="row">Matematica</th>
                                    <td class="border border-dark">7</td>
                                    <td class="border border-dark">5</td>
                                    <td class="border border-dark">6</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                </tr>
                                <tr>
                                    <th class="border border-dark" scope="row">Desarrollo IV</th>
                                    <td class="border border-dark">9</td>
                                    <td class="border border-dark">8</td>
                                    <td class="border border-dark">8</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                </tr>
                                <tr>
                                    <th class="border border-dark" scope="row">Hardware</th>
                                    <td class="border border-dark">4</td>
                                    <td class="border border-dark">6</td>
                                    <td class="border border-dark">5</td>
                                    <td class="border border-dark">7</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                </tr>
                                <tr>
                                    <th class="border border-dark" scope="row">Software</th>
                                    <td class="border border-dark">7</td>
                                    <td class="border border-dark">5</td>
                                    <td class="border border-dark">6</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                </tr>
                                <tr>
                                    <th class="border border-dark" scope="row">Practicas Profesionalizantes</th>
                                    <td class="border border-dark">4</td>
                                    <td class="border border-dark">5</td>
                                    <td class="border border-dark">5</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">6</td>
                                    <td class="border border-dark">6</td>
                                    <td class="border border-dark">-</td>
                                    <td class="border border-dark">-</td>
                                </tr>
                                <tr>
                                    <th class="border border-dark" scope="row">Días de clases/inasistencias</th>
                                    <td class="border border-dark">77 / -</td>
                                    <td class="border border-dark"> - / - </td>
                                    <td rowspan="3" colspan="7">El/la Estudiante ha finalizado sus estudios el: - / - / - </td>
                                </tr>
                                <tr>
                                    <th class="border border-dark" scope="row">Firma Directivo</th>
                                    <td class="border border-dark"></td>
                                    <td class="border border-dark"></td>
                                </tr>
                                <tr>
                                    <th class="border border-dark" scope="row">Firma Resposable</th>
                                    <td class="border border-dark"></td>
                                    <td class="border border-dark"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container-fluid">
                    <div>
                        <h5>Previas y Equivalencias:</h5>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="border border-dark"></td>
                                    <td class="border border-dark"></td>
                                </tr>
                                <tr>
                                    <td class="border border-dark"></td>
                                    <td class="border border-dark"></td>
                                </tr>
                                <tr>
                                    <td class="border border-dark"></td>
                                    <td class="border border-dark"></td>
                                </tr>
                                <tr>
                                    <td class="border border-dark"></td>
                                    <td class="border border-dark"></td>
                                </tr>
                                <tr>
                                    <td class="border border-dark"></td>
                                    <td class="border border-dark"></td>
                                </tr>
                                <tr>
                                    <td class="border border-dark"></td>
                                    <td class="border border-dark"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="container-fluid">
                    <div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <th class="border border-dark" scope="row">DOCUMENTO DE EVALUACIÓN, ACREDITACIÓN Y PROMOCIÓN RES. 29/24 ME</th>
                            </tr>
                                <tr>
                                    <td class="border border-dark">
                                        <ul> 
                                            <li>Calificación Parcial será consignada al finalizar.</li>
                                            <li>Espacio Curricular resultará acreditado.</li>
                                            <li>Espacios Curriculares Pendientes podrán acreditarse.</li>
                                            <li>Asistencia: El estudiante deberá cumplir con el 80%.</li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!DOCTYPE html>
