.text-center {
    text-align: center;
    margin-top: 40px;   /* Espacio superior */
    margin-bottom: 20px; /* Espacio inferior */
}
.text-center:first-of-type {
    margin-top: 20px; /* Sin margen superior en el primer título */
}
