<div class="row">
    <div class="col"><h3>modalidad</h3></div>
    <div class="col"><input type="text" size="3"></div>
</div>
<div class="row">
    <div class="col"><h3>año</h3></div>
    <div class="col"><input type="number" size="3" min="1" max="7"></div>
</div>
<div class="row">
    <div class="col"><h3>division</h3></div>
    <div class="col"><input type="text" size="3"></div>
</div>
    
<div class="row">
    <div class="col"><h3>fecha</h3></div>
    <div class="col"><input type="date" size="3"></div>
</div>
