<header>
  <div class="divCenter row">
    <nav class="col row">
      <a class="col" href="">Contactanos</a>
      <a class="col" href="">Nosotros</a>
    </nav>
    <a class="col" href="#"><img src="assets/imgs/brand.svg" alt="Brand"></a>
    <nav class="col row">
      <a class="col" href="">Galeria</a>
      <li class="col dropdown">
        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Redes</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="https://www.facebook.com/escuela713/">Facebook</a></li>
          <li><a class="dropdown-item" href="https://www.instagram.com/laradiodela713/">Instagram</a></li>
        </ul>
      </li>
    </nav>
  </div>
  <a routerLink="/iniciar-sesion"><i class="fa-regular fa-circle-user"></i></a>
</header>