<header class="p-3 text-white">
  <div class="container">

    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <a class="col-2 brand" href="#"><img src="assets/imgs/brand.svg" alt="Brand"></a>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-4 pe-2 text-warning">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Galeria</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Nosotros</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Contactanos</a></li>
      </ul>

      <div class="text-end">
        <ng-container *ngIf="!isAuthenticated">
          <button type="button" class="btn btn-outline-light me-2" routerLink="/iniciar-sesion">Login</button>
          <button type="button" class="btn btn-warning" routerLink="/registro">Sign-up</button>
        </ng-container>
        <ng-container *ngIf="isAuthenticated">
          <span class="text-white me-3">{{currentUser?.nombre}} ({{currentUser?.rol}})</span>
          <button type="button" class="btn btn-warning" (click)="logout()">Cerrar Sesión</button>
        </ng-container>
      </div>
    </div>
    
  </div>
</header>