<a rel="stylesheet" routerLink="/dashboard/editarMaterias" class="btn btn-primary m-1" data-dismiss="modal" >Nuevo</a>
    <div class="col-sm">
        <table class="table table-bordered table-hover ">
            <thead>
                <tr class="table-primary">
                    <th>Nombre</th>
                    <th>Año</th>
                    <th>Horas catedras semanales</th>
                    <th>Horas reloj anuales</th>
                    <th>Descripción</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>......</th>
                    <th>........</th>
                    <th>...........</th>
                    <th>...........</th>
                    <th>...........</th>
                    <th>
                        <a rel="stylesheet" routerLink="/dashboard/editarMaterias" class="btn btn-primary m-1" data-dismiss="modal" >editar</a>
                        <a rel="stylesheet" routerLink="" class="btn btn-primary m-1" data-dismiss="modal" >desactivar</a>
                        <a rel="stylesheet" routerLink="" class="btn btn-success m-1" data-dismiss="modal" >planes</a>
                    </th>
                </tr>
                <tr>
                    <th>Matematicas</th>
                    <th>7mo</th>
                    <th>2hrs</th>
                    <th>230hrs</th>
                    <th>numeros y logaritmos</th>
                </tr>
            </tbody>
        </table>
    </div>
