.seccion {
  padding: 2% 0;
}
h1 {
  text-transform: uppercase;
  padding: 0;
  margin: 1% auto 2%;
}
nav {
  max-width: 80%;
  margin: auto;
}
.nav-link {
  background-color: var(--color3);
  color: var(--color2);
  font-size: 1.3rem;
  font-weight: 700;
}