<h1 class="datosPersonalesTitle">Sistema de Gestión de Datos Personales</h1>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button
      class="nav-link active"
      id="nav-home-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-home"
      type="button"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
    >
      Datos Personales
    </button>
    <button
      class="nav-link"
      id="nav-profile-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-profile"
      type="button"
      role="tab"
      aria-controls="nav-profile"
      aria-selected="false"
    >
      Datos Academicos
    </button>
    <button
      class="nav-link"
      id="nav-contact-tab"
      data-bs-toggle="tab"
      data-bs-target="#nav-contact"
      type="button"
      role="tab"
      aria-controls="nav-contact"
      aria-selected="false"
    >
      Tutores
    </button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div
    class="tab-pane fade show active"
    id="nav-home"
    role="tabpanel"
    aria-labelledby="nav-home-tab"
  >
    <div class="seccion" *ngIf="componenteVisible === 'datosAlumno'">
      <app-datos-escolares></app-datos-escolares>
    </div>
  </div>

<div
  class="tab-pane fade"
  id="nav-profile"
  role="tabpanel"
  aria-labelledby="nav-profile-tab"
>
  <div class="seccion" *ngIf="componenteVisible === 'datosAlumno'">
    <app-datos-identidad></app-datos-identidad>
  </div>
</div>

<div
  class="tab-pane fade"
  id="nav-contact"
  role="tabpanel"
  aria-labelledby="nav-contact-tab">

  <div class="seccion" *ngIf="componenteVisible === 'datosAlumno'">
    <app-datos-tutores></app-datos-tutores>
  </div>
</div>