<router-outlet></router-outlet>

<header>
    <h1>Gestión de asistencia</h1>
</header>

<form>
    <div class="row">
        <div class="col">
            <div class="form-group" class="col1">
                <label for="exampleInputEmail1">modalidad</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="ejemplo: etp">
                <small id="emailHelp" class="form-text text-muted">Ingrese la modalidad del curso.</small>
            </div>
            <div class="form-group" class="col1">
                <label for="exampleInputEmaiforl1">año</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="ejemplo: primer">
                <small id="emailHelp" class="form-text text-muted">Ingrese el año.</small>
            </div>
        </div>

        <div class="col">
            <div class="form-group" >
                <button type="button" class="btn btn-success" id="filtrar">Filtrar</button>
            </div>
        </div>


        <div class="col">
            <div class="form-group" class="col3">
                <label for="exampleInputEmail1">division</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="ejemplo: segunda">
                <small id="emailHelp" class="form-text text-muted">Ingrese la división del curso.</small>
            </div>
            <div class="form-group" class="col3">
                <label for="exampleInputEmail1">fecha</label>
                <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="ejemplo: segunda">
                <small id="emailHelp" class="form-text text-muted">Ingrese la división del curso.</small>
            </div>
        </div>
    </div>
</form>





<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">apellido</th>
            <th scope="col">nombre</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Nombre del tutor</th>
            <th scope="col">apellido del tutor</th>
            <th scope="col">Telefono del alumno</th>
            <th scope="col">Telefono del tutor</th>
            <th scope="col">Asistencias</th>
            <th scope="col">inasistencias</th>
            <th scope="col">Porcentaje de asistencia</th>
            <th scope="col">Sanciones</th>
            <th scope="col">Observaciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Avanzatti</td>
            <td>Aluhé</td>
            <td>21/03/2004</td>
            <td>Marihuana </td>
            <td>locrura </td>
            <td>45107200</td>
            <td>10010100</td>
            <td>200</td>
            <td>5</td>
            <td>90%</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Sepulveda</td>
            <td>Eluney</td>
            <td>04/04/2004</td>
            <td>Maria </td>
            <td>Teresa </td>
            <td>45107220</td>
            <td>10090100</td>
            <td>190</td>
            <td>15</td>
            <td>85%</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Lacoma</td>
            <td>Santiago</td>
            <td>01/12/2004</td>
            <td> Jarvan </td>
            <td> De La Cuarta</td>
            <td>45207201</td>
            <td>10010340</td>
            <td>180</td>
            <td>25</td>
            <td>80%</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Elsezar</td>
            <td>Renata</td>
            <td>10/05/2004</td>
            <td>Lucian </td>
            <td>Nami </td>
            <td>45607202</td>
            <td>10033100</td>
            <td>181</td>
            <td>24</td>
            <td>90%</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>García</td>
            <td>Maximo</td>
            <td>29/02/2004</td>
            <td>Robert </td>
            <td>Neeko </td>
            <td>45107200</td>
            <td>10010100</td>
            <td>200</td>
            <td>5</td>
            <td>90%</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Bear</td>
            <td>Viktor</td>
            <td>23/05/2004</td>
            <td>Lucas </td>
            <td>Upsteni </td>
            <td>45107200</td>
            <td>10010100</td>
            <td>200</td>
            <td>5</td>
            <td>90%</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<div class="container-fluid" id="botones">
    <button type="button" class="btn btn-light">1</button>
    <button type="button" class="btn btn-light">2</button>
    <button type="button" class="btn btn-light">3</button>
</div>