
<router-outlet></router-outlet>

<header>
    <h1>Gestión de asistencia</h1>
</header>

<div class="row">
    <div class="col"><h3>modalidad</h3></div>
    <div class="col"><input type="text" size="3"></div>
</div>
<div class="row">
    <div class="col"><h3>año</h3></div>
    <div class="col"><input type="number" size="3" min="1" max="7"></div>
</div>
<div class="row">
    <div class="col"><h3>division</h3></div>
    <div class="col"><input type="text" size="3"></div>
</div>
    
<div class="row">
    <div class="col"><h3>fecha</h3></div>
    <div class="col"><input type="date" size="3"></div>
</div>


    <table class="table table-sm"> 
       <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">apellido</th>
                <th scope="col">nombre</th>
                <th scope="col">Fecha_nac</th>
                <th scope="col">Nom tutor</th>
                <th scope="col">Tel tutor</th>
                <th scope="col">Tel</th>
                <th scope="col">Asist</th>
                <th scope="col">inasistencias</th>
                <th scope="col">Porcentaje</th>
                <th scope="col">Sansiones</th>
                <th scope="col">Observaciones</th>
                
            </tr>
       </thead>
       <tbody>
            <tr>
                <th scope="row">1</th>
                <td>García</td>
                <td>Aluhé</td>
                <td>07/04/2004</td>
                <td>18</td>
                <td>45107200</td>
                <td>10010100</td>
                <td>Rivadavia 2030</td>
                <td>2945919191</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Avanzatti</td>
                <td>Maximo</td>
                <td>31/01/2004</td>
                <td>18</td>
                <td>45107201</td>
                <td>10010101</td>
                <td>Rivadavia 2040</td>
                <td>2945919192</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Lucia Elsezar</td>
                <td>07/12/2005</td>
                <td>18</td>
                <td>46107200</td>
                <td>11010100</td>
                <td>Rivadavia 2020</td>
                <td>2945919190</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Renata Millaldeo</td>
                <td>02/12/2005</td>
                <td>18</td>
                <td>46107206</td>
                <td>11010120</td>
                <td>Rivadavia 2027</td>
                <td>2945919290</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Santiago Sepulveda</td>
                <td>01/01/2005</td>
                <td>18</td>
                <td>46127200</td>
                <td>11010000</td>
                <td>Rivadavia 2002</td>
                <td>2945919187</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Eluney Lacoma</td>
                <td>08/10/2003</td>
                <td>18</td>
                <td>46107200</td>
                <td>11010100</td>
                <td>Rivadavia 2000</td>
                <td>2945719190</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
       </tbody> 
    </table>
    <div class="container-fluid" id="botones">
        <button class="btn-dark">1</button>
        <button class="btn-dark">2</button>
        <button class="btn-dark">3</button>
    </div>

    