<router-outlet></router-outlet>

<header>
    <h1>Gestión de asistencia</h1>
</header>

<form>
    <div class="row">
        <div class="col">
            <div class="form-group" class="col1">
                <label for="exampleInputEmail1">modalidad</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="ejemplo: etp">
                <small id="emailHelp" class="form-text text-muted">Ingrese la modalidad del curso.</small>
            </div>
            <div class="form-group" class="col1">
                <label for="exampleInputEmaiforl1">año</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="ejemplo: primer">
                <small id="emailHelp" class="form-text text-muted">Ingrese el año.</small>
            </div>
        </div>

        <div class="col">
            <div class="form-group" >
                <button type="button" class="btn btn-success" id="filtrar">Filtrar</button>
            </div>
        </div>
        <app-filtro-asistencia></app-filtro-asistencia>



        <div class="col">
            <div class="form-group" class="col3">
                <label for="exampleInputEmail1">division</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="ejemplo: segunda">
                <small id="emailHelp" class="form-text text-muted">Ingrese la división del curso.</small>
            </div>
            <div class="form-group" class="col3">
                <label for="exampleInputEmail1">fecha</label>
                <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="ejemplo: segunda">
                <small id="emailHelp" class="form-text text-muted">Ingrese la división del curso.</small>
            </div>
        </div>
    </div>
</form>





<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">apellido</th>
            <th scope="col">nombre</th>
            <th scope="col">Fecha de nacimiento</th>
            <th scope="col">Nombre del tutor</th>
            <th scope="col">apellido del tutor</th>
            <th scope="col">Telefono del alumno</th>
            <th scope="col">Telefono del tutor</th>
            <th scope="col">Asistencias</th>
            <th scope="col">inasistencias</th>
            <th scope="col">Porcentaje de asistencia</th>
            <th scope="col">Sanciones</th>
            <th scope="col">Observaciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of informacionEstudiante">
            <th scope="row"> {{item.idAlumno}} </th>
            <td>{{item.apellido}}</td>
            <td>{{item.nombre}} </td>
            <td>{{item.FecNac}}</td>
            <td>{{item.NomTutor}} </td>
            <td>{{item.ApTutor}} </td>
            <td>{{item.TelAlumno}}</td>
            <td>{{item.TelTutor}}</td>
            <td>{{item.Asistencias}}</td>
            <td>{{item.inasistencias}}</td>
            <td>{{item.PorcentajeAsistencia}}</td>
            <td>{{item.Sanciones}}</td>
            <td>{{item.Observaciones}}</td>
        </tr>
        
    </tbody>
</table>
<div class="container-fluid" id="botones">
    <button type="button" class="btn btn-light">1</button>
    <button type="button" class="btn btn-light">2</button>
    <button type="button" class="btn btn-light">3</button>
</div>