.login{
  background-image:url("../../../../assets/2-slider.jpg");   

}
.form-register {
  width: 500px;
  background: #2b3035 ;
  padding: 50px;
  margin: auto;
  border-radius: 50px;
  font-family: 'calibri';
  color: white;
}
.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}
::placeholder{
  color: white;
}  

.controls {
  width: 100%;
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid white;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  color:white;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: white;
  border: none;
  padding: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
}