<div class="login" >
  <form class="form-login">
    <h4>Inicio De Sesion</h4>
    <input
      class="controls"
      type="text"
      name="nombres"
      id="nombres"
      placeholder="Ingrese su Cuit"
    />
    <input
      class="controls"
      type="text"
      name="apellidos"
      id="apellidos"
      placeholder="Ingrese su Contraseña"
    />
    <p><a href="#">Home</a></p>
    <input class="botons" type="submit" value="Iniciar Sesion" />
    <p><a routerLink="/registro">No tengo cuenta</a></p>
  </form>
</div>
