<div class="login">
  <form class="form-login" [formGroup]="form" (ngSubmit)="onEnviar($event)">
    <h4>Inicio De Sesion</h4>
    <input formControlName="cuil" class="form-control mb-2" type="text" name="nombres" id="nombres"
      placeholder="Ingrese su Cuit" />
    @if (Cuil?.errors && Cuil?.touched)
    {
    @if (Cuil?.hasError('required'))
    {
    <div class="text-danger">
      El Cuil es requerido.
    </div>
    }
    }
    <input formControlName="password" class="form-control mb-2" type="password" name="apellidos" id="apellidos"
      placeholder="Ingrese su Contraseña" />
    @if(Password?.errors && Password?.touched)
    {
    @if(Password?.hasError('required'))
    {
    <div class="text-danger">
      El Password es requerido.
    </div>
    }
    @else if (Password?.hasError('minlength') )
    {
    <div class="text-danger">
      El Password requiere como mínimo 8 caracteres.
    </div>
    }
    }

    <p><a href="#">Home</a></p>
    <input class="botons" type="submit" value="Iniciar Sesion" />
    <p><a routerLink="/registro">No tengo cuenta</a></p>



  </form>
</div>