<div style="padding: 20px;">

  <h1>Gestión de Noticias</h1>
  
  <button (click)="abrirFormulario()" style="background: red; color: white; padding: 10px;">
    + Agregar Noticia
  </button>

  <hr>

  <h3>Lista de Noticias Actuales:</h3>
  @for (noticia of misNoticias; track noticia.titulo) {
    <div style="background: #f0f0f0; margin: 10px 0; padding: 10px; border-radius: 8px;">
      <h4>{{ noticia.titulo }}</h4>
      <p>Fecha: {{ noticia.fecha }}</p>
      <button style="color: red;"> Borrar</button>
    </div>
  }

  @if (formularioVisible === true) {
    <div style="position: fixed; top: 20%; left: 30%; background: white; border: 2px solid black; padding: 30px; z-index: 100;">
      
      <h2>Agregar Nueva Noticia</h2>
      
      <p>Título: <input type="text" placeholder="Escribe el título"></p>
      <p>Descripción: <textarea placeholder="Escribe la descripción"></textarea></p>
      
      <button (click)="cerrarFormulario()">Cancelar</button>
      <button (click)="cerrarFormulario()" style="background: red; color: white;">Guardar</button>
      
    </div>
  }

</div>