@import url(assets/fonts/Jakarta/plus-jakarta-sans.css);
@import url(assets/fonts/Zodiak/zodiak.css);
:root {
    --color1: #A51C30;
    --color2: #1E1E1E;
    --color3: #F3F3F1;
    --color4: #8C8179;
    --color5: #8996A0;
    --font1: PlusJakartaSans-Variable;
    --font2: Zodiak-Variable;
}
* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    font-size: 10px;
}
body {
    background-color: var(--color3);
    color: var(--color2);
    font-family: var(--font2);
    letter-spacing: 1px;
    position: relative;
}
/* H1 USADO EN DATOS PERSONALES */
.datosPersonalesTitle {
    text-align: center;
    background-color: var(--color-3);
    color: var(--color-1);
    padding: 10px;
  }
/* BOTON USADO EN GESTION DE DATOS PERSONALES */
.btnSave {
    background-color: var(--color-1);
    border: solid 3px var(--color-3);
    color: var(--color-3);
    font-size: 1rem;
    font-weight: 900;
    &:hover {
        background-color: var(--color-3);
        color: var(--color-1);
        border: solid 3px var(--color-3);
    }
}
/* BOTON USADO EN GESTION DE DATOS PERSONALES */
.btnDelete {
    background-color: none;
    border: solid 3px red;
    color: red;
    font-weight: 900;
    &:hover {
      background-color: red;
      color: var(--color-1);
    }
  }
/* BOTON USADO EN GESTION DE DATOS PERSONALES */
.btnAdd {
    border: solid 3px green;
    background-color: green;
    color: var(--color-1);
    font-weight: 900;
    &:hover{
      background-color: green;
      color: var(--color-1);
    }
}

/* #guardar {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}
#guardar:hover {
    background-color: #45a049; 
}

.ng-valid:not(form).ng-touched {
    border-left: 5px solid #45a049
}
.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442;
}
.ng-valid:not(form).ng-touched {
    border-left: 5px solid #42A948;
}
.ng-invalid:not(form).ng-touched {
    border-left: 5px solid #a94442;
} */