<div>
  <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
    <section class="form-register" >
      <h4>Formulario Registro</h4>
      <input class="form-control mb-2" formControlName="name" type="text" name="nombres" id="nombres" placeholder="Nombres">
      @if (Name?.errors && Name?.touched)
      {
      @if (Name?.hasError('required'))
      {
      <div class="text-danger">
        El nombre es requerido.
      </div>
      }
      }
      <input class="form-control mb-2" formControlName="surname" type="text" name="apellidos" id="apellidos"
        placeholder="Apellidos">
      @if (Surname?.errors && Surname?.touched)
      {
      @if (Surname?.hasError('required'))
      {
      <div class="text-danger">
        El apellido es requerido.
      </div>
      }
      @else if (Surname?.hasError('surname'))
      {
      <div class="text-danger">
        El formato del email debe ser válido.
      </div>
      }
      }
      <input class="form-control mb-2" formControlName="email" type="email" name="correo" id="correo"
        placeholder="Ingresar Correo electronico">
      @if (Email?.errors && Email?.touched)
      {
      @if (Email?.hasError('required'))
      {
      <div class="text-danger">
        El email es requerido.
      </div>
      }
      @else if (Email?.hasError('email'))
      {
      <div class="text-danger">
        El formato del email debe ser válido.
      </div>
      }
      }
      <input class="form-control mb-2" (change)="onChangePassword()" formControlName="password" type="password" name="correo" id="correo"
        placeholder="Ingresar Contraseña">
      @if(Password?.errors && Password?.touched)
      {
      @if(Password?.hasError('required'))
      {
      <div class="text-danger">
        El Password es requerido.
      </div>
      }
      @else if (Password?.hasError('minlength') )
      {
      <div class="text-danger">
        El Password requiere como mínimo 8 caracteres.
      </div>
      }
      }
      <input class="form-control mb-2" (change)="onChangePassword()" formControlName="passwordconfirmation" type="password" name="correo" id="correo"
        placeholder="Confirmar contraseña">
      @if (Passwordconfirmation?.errors && Passwordconfirmation?.touched)
      {
      @if (Passwordconfirmation?.hasError('required'))
      {
      <div class="text-danger">
        La confirmacion del password es requerida.
      </div>
      }
      }
      @else if (errorPassword)
      {
        <div class="text-danger">
          El Password debe ser igual.
        </div>
      }
      <input class="form-control mb-2" (change)="onChangeCuil()" formControlName="cuil" type="number" name="cuil" id="cuil"
        placeholder="Ingresar cuil/cuit">
      @if (Cuil?.errors && Cuil?.touched)
      {
      @if (Cuil?.hasError('required'))
      {
      <div class="text-danger">
        El cuil es requerido.
      </div>
      }
      }
      <input class="form-control mb-2" (change)="onChangeCuil()" formControlName="cuilconfirmation" type="number" name="cuil" id="cuil"
        placeholder="Confirmar cuil/cuit">
      @if (Cuilconfirmation?.errors && Cuilconfirmation?.touched)
      {
      @if (Cuilconfirmation?.hasError('required'))
      {
      <div class="text-danger">
        La confirmacion del cuil es requerido.
      </div>
      }
      }
      @else if (errorCuil)
      {
        <div class="text-danger">
          El Cuil debe ser igual.
        </div>
      }
      <div class="mb-3 form-check">
        
        <input type="checkbox" class="form-check-input" >
        <label for="exampleFormControlInput1" class="form-label"> Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></label>
        
      @if (Aceptarterminos?.errors && Aceptarterminos?.touched)
      {
      @if (Aceptarterminos?.hasError('required'))
      {
      <p class="text-danger">
        Aceptar los termino es requerido.
      </p>
      }
      }

      </div>      
      <input class="botons"  type="submit" value="Registrar">
      <p><a routerLink="/iniciar-sesion">¿Ya tengo Cuenta?</a></p>
    </section>
  </form>
</div>