
<div class="registro">
  
    <section class="form-register">
      <h4>Formulario Registro</h4>
      <input class="controls" type="text" name="nombres" id="nombres" placeholder="Nombres">
      <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Apellidos">
      <input class="controls" type="email" name="correo" id="correo" placeholder="Ingresar Correo electronico">
      <input class="controls" type="password" name="correo" id="correo" placeholder="Ingresar Contraseña">
      <input class="controls" type="password" name="correo" id="correo" placeholder="Confirmar contraseña">
      <input class="controls" type="number" name="cuil" id="cuil" placeholder="Ingresar cuil/cuit">
      <input class="controls" type="number" name="cuil" id="cuil" placeholder="Confirmar cuil/cuit">

      <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
      <input class="botons" type="submit" value="Registrar">
      <p><a routerLink="/iniciar-sesion" >¿Ya tengo Cuenta?</a></p>
    </section>

  
   
</div>
