
.form-register {
  
    width: 500px;
    padding: 50px;
    margin: auto;

  }
  .form-register h4 {

    margin-bottom: 20px;
  }
::placeholder{
    color: black;
}  
  .controls {
    width: 100%;
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color: black;
  }
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color:white;
  }
  
  .form-register a {
    color:black;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: black;
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: black;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }
