<label for="floatingEmptyPlaintextInput">Orientación</label>
<select class="form-select form-select-lg mb-5">
  <option selected>--------------</option>
  <option value="1">ETP</option>
  <option value="2">Humanidades</option>
  <option value="3">Comunicaciones</option>
</select>
<label for="floatingEmptyPlaintextInput">Curso</label>
<select class="form-select form-select-lg mb-5">
  <option selected>------------</option>
  <option value="1">1º</option>
  <option value="2">2º</option>
  <option value="3">3º</option>
  <option value="4">4º</option>
  <option value="5">5º</option>
  <option value="6">6º</option>
  <option value="7">7º</option>
</select>
<label for="floatingEmptyPlaintextInput">División</label>
<select class="form-select form-select-lg mb-5">
  <option selected>--------------</option>
  <option value="1">1era</option>
  <option value="2">2da</option>
  <option value="3">3era</option>
</select>
<label for="floatingEmptyPlaintextInput">Materia</label>
<select class="form-select form-select-lg mb-5">
  <option selected>------------</option>
  <option value="1">Lengua</option>
  <option value="2">Matematica</option>
  <option value="3">Historia</option>
  <option value="4">Geografia</option>
  <option value="5">Educacion Fisica</option>
  <option value="6">Desarrollo IV</option>
</select>
<label for="floatingEmptyPlaintextInput">Instancia</label>
<select class="form-select form-select-lg mb-5">
  <option selected>------------</option>
  <option value="1">1º</option>
  <option value="2">2º</option>
  <option value="3">3º</option>
  <option value="4">Instancia diciembre</option>
  <option value="5">Instancia marzo</option>
  <option value="6">Nota final</option>
</select>