<div class="inventory">
	<div class="header">
		<h2 class="titulo">Inventario detallado — Estado y titularidad</h2>
		<input type="text" placeholder="Buscar bien por nombre, código o titular..." class="search-input" />
	</div>
	<div class="movements" style="margin-bottom:14px; display:flex; gap:16px;">
			
		<!--Aca empieza -->
			<div class="container">
		
        <strong>Egresos recientes</strong>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Cantidad</th>
                    <th>Código especial</th>
                    <th>Estado</th>
                    <th>Ubicación</th>
                    <th>Fecha</th>
                    <th>Prestado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>Sillas</td>
                    <td>Mobiliario</td>
                    <td>12</td>
                    <td>Sill-004</td>
                    <td>Bueno</td>
                    <td>Aula 3ro 1ra ESB</td>
                    <td>2020-08-01</td>
                    <td>No</td>
                    
                    <td>
                        <button class="btn btnAdd">Editar</button>
						<button class="btn btnVerTabla">Ver más</button>
						<button class="btn btnDelete">Eliminar</button>
                    </td>
                </tr>
				<tr>
                    <td>Sillas</td>
                    <td>Mobiliario</td>
                    <td>12</td>
                    <td>Sill-004</td>
                    <td>Bueno</td>
                    <td>Aula 3ro 1ra ESB</td>
                    <td>2020-08-01</td>
                    <td>No</td>
                    
                    <td>
                        <button class="btn btnAdd">Editar</button>
						<button class="btn btnVerTabla">Ver más</button>
						<button class="btn btnDelete">Eliminar</button>
                    </td>
                </tr>
            </tbody>
            
        </table>
    </div>
	<!--no tocar por ahora-->
	</div>

</div>

