        <div class="container-fluid">
            <div class="row m-s">
                <div class="col-2 " > </div>
                <div class="col-7" >
                    <h1>Alumno: Marta Sanchez</h1>
                </div>
                <div class="col-3">
                    <h1>7°1° ETP</h1>
                </div>                        
            </div>
        </div>

        <div class="container-fluid">
            <div class="row m-s">
            <div class="col-2 text-center" >
                <p>
            <h2>Alumno</h2> <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Buscar</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                  </div>
            
                <br><br><br><br><br><br>
                <h2>Instancia</h2>
                 <select class="form-select" aria-label="default select example">
                  <option selected></option>
                  <option value>Trimestres</option>
                  <option value>Cuatrimestres</option>
                 </select>
                </div>
                <div class="col">
                </div>

                
                <div class="col-9" >
                    <h1 class="text-center">2024</h1>
                    <table class="table">
        <thead>
            <tr>
            <th class="border border-dark" scope="col">Materia</th>
            <th class="border border-dark" scope="col">1° Cuatrimestre</th>
            <th class="border border-dark" scope="col">2° Cuatrimestre</th>
            <th class="border border-dark" scope="col">Calificación final</th>
            <th class="border border-dark" scope="col">Instancia Diciembre</th>
            <th class="border border-dark" scope="col">Instancia Feb/Marzo</th>
            <th class="border border-dark" scope="col">T.A.E</th>
            <th class="border border-dark" scope="col">Calificación definitiva</th>
            <th class="border border-dark" scope="col">Observaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="border border-dark" scope="row">Lengua</th>
                <td class="border border-dark">8</td>
                <td class="border border-dark">8</td>
                <td class="border border-dark">8</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
            </tr>
            <tr>
                <th class="border border-dark" scope="row">Matematica</th>
                <td class="border border-dark">7</td>
                <td class="border border-dark">5</td>
                <td class="border border-dark">6</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
            </tr>
            <tr>
                <th class="border border-dark" scope="row">Desarrollo IV</th>
                <td class="border border-dark">9</td>
                <td class="border border-dark">8</td>
                <td class="border border-dark">8</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
            </tr>
            <tr>
                <th class="border border-dark" scope="row">Hardware</th>
                <td class="border border-dark">4</td>
                <td class="border border-dark">6</td>
                <td class="border border-dark">5</td>
                <td class="border border-dark">7</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
            </tr>
            <tr>
                <th class="border border-dark" scope="row">Software</th>
                <td class="border border-dark">7</td>
                <td class="border border-dark">5</td>
                <td class="border border-dark">6</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
            </tr>
            <tr>
                <th class="border border-dark" scope="row">Practicas Profesionalizantes</th>
                <td class="border border-dark">4</td>
                <td class="border border-dark">5</td>
                <td class="border border-dark">5</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">6</td>
                <td class="border border-dark">6</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
            </tr>
        </tbody>
    </table>
                </div>                        
            </div>
        </div>

        <div class="container-fluid">
            <div class="row m-s">
                <div class="col-2 text-center" >
                <br>
              
                 <br><br><br><br><br>
                 <h2>Años</h2>
                <select class="form-select form-select-lg mb-5" aria-label=".form-select-lg example" >
        <option selected>Años</option>
        <option value="1">un año</option>
        <option value="2">Todos los años</option>
     </select>
                </div>
                <div class="col">
                </div>
                <div class="col-9" >
                
    
    <br> <h1 class="text-center">2023</h1>
    <table class="table">
        <thead>
            <tr>
            <th class="border border-dark" scope="col">Materia</th>
            <th class="border border-dark" scope="col">1° Trimestre</th>
            <th class="border border-dark" scope="col">2° Trimestre</th>
            <th class="border border-dark" scope="col">3° Trimestre</th>
            <th class="border border-dark" scope="col">Calificación final</th>
            <th class="border border-dark" scope="col">Instancia Diciembre</th>
            <th class="border border-dark" scope="col">Instancia Feb/Marzo</th>
            <th class="border border-dark" scope="col">T.A.E</th>
            <th class="border border-dark" scope="col">Calificación definitiva</th>
            <th class="border border-dark" scope="col">Observaciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="border border-dark" scope="row">Lengua</th>
                <td class="border border-dark">7</td>
                <td class="border border-dark">6</td>
                <td class="border border-dark">6</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
            </tr>
            <tr>
                <th class="border border-dark" scope="row">Matematica</th>
                <td class="border border-dark">8</td>
                <td class="border border-dark">9</td>
                <td class="border border-dark">9</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
            </tr>
            <tr>
                <th class="border border-dark" scope="row">Desarrollo III</th>
                <td class="border border-dark">5</td>
                <td class="border border-dark">6</td>
                <td class="border border-dark">5</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">7</td>
                <td class="border border-dark">7</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
            </tr>
            <tr>
                <th class="border border-dark" scope="row">Hardware</th>
                <td class="border border-dark">8</td>
                <td class="border border-dark">6</td>
                <td class="border border-dark">7</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
            </tr>
            <tr>
                <th class="border border-dark" scope="row">Software</th>
                <td class="border border-dark">6</td>
                <td class="border border-dark">6</td>
                <td class="border border-dark">6</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
            </tr>
            <tr>
                <th class="border border-dark" scope="row">Ingles</th>
                <td class="border border-dark">10</td>
                <td class="border border-dark">10</td>
                <td class="border border-dark">10</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
                <td class="border border-dark">-</td>
            </tr>
        </tbody>
    </table>
                </div>                        
            </div>
        </div>  
