body {
font-family: Arial, sans-serif;
background-color: #eef2f3;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

form { 
background-color: #8f4c4c;
padding: 25px 30px;
border-radius: 10px;
box-shadow: 0 0 10px;
width: 340px;
}
 
h2 {
text-align: center;
color: white;
margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

input, select {
width: 100%;
padding: 8px;
margin-top: 5px;
border: 1px solid #ccc;
border-radius: 5px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2 ease;
}

button:hover {
background-color: #0056b3;
}