<table class="table ">
    <thead>
      <tr>
        <th class="col-6 border border-dark text-center " scope="col">Estudiantes</th>
        <th class="col-6 border border-dark text-center " scope="col">Notas</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="border border-dark" scope="row">Benjamin Pozo</td>
        <td class="border border-dark text-center">8</td>
      </tr>

      <tr>
        <td class="border border-dark" scope="row">Imanol Valenzuela</td>
        <td class="border border-dark text-center">10</td>
      </tr>

      <tr>
        <td class="border border-dark" scope="row">Julian Gacela Vazquez</td>
        <td class="border border-dark text-center">9</td>
      </tr>

      <tr>
        <td class="border border-dark" scope="row">Nahuel Barria</td>
        <td class="border border-dark text-center">7</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="Boton Editar"><strong>Editar</strong></button>
  <button type="button" class="Boton Guardar"><strong>Guardar
