<div id="accordion" >
    <div class="card">
        <div class="card-header bg-info">
             <a class="card-link text-white" data-toggle="collapse" >Datos Tutores
                  <i class='fas fa-angle-double-down float-right'></i>
            </a>
        </div>
<div class="form-group">
    <label for="id_estado_civil_padre">Estado Civil</label>
    <select name="id_estado_civil_padre" id="id_estado_civil_padre" class="form-control">
        <option value="0">No hay datos</option>
    </select>
</div>

<div class="form-group">
    <label for="profesion">Profesión</label>
    <input type="text" name="profesion" id="profesion" class="form-control" placeholder="Ingrese aquí la profesión" maxlength="45" required>
    <div class="invalid-feedback">
    </div>
</div>

<div class="form-group">
    <label for="lugar_trabajo">Lugar de trabajo</label>
    <input type="text" name="lugar_trabajo" id="lugar_trabajo" class="form-control" placeholder="Ingrese aquí el lugar de trabajo" maxlength="45" required>
    <div class="invalid-feedback">
        Ingrese un lugar de trabajo
    </div>
</div>