<h1 class="text-center">CALIFICADOR</h1>
    <div class="container-fluid">
      <div class="row justify-content-center">  
          <div class="col-8">
            <table class="table text-center">
              <thead>
                <tr>
                  <th class="col-6 border border-dark text-center "  scope="col">Estudiantes</th>
                  <th class="col-6 border border-dark text-center " scope="col">Notas</th>
                </tr>
              </thead>
    
              <tbody>
                <tr>
                  <td class="border border-dark" scope="row">Marta Sanchez</td>
                  <td contenteditable="true" class="border border-dark text-center">6</td>
                </tr>
  
                <tr>
                  <td class="border border-dark" scope="row">Marta Lopez</td>
                  <td contenteditable="true" class="border border-dark text-center">8</td>
                </tr>
  
                <tr>
                  <td class="border border-dark" scope="row">Juan Ramirez</td>
                  <td contenteditable="true" class="border border-dark text-center">6</td>
                </tr>
        
                <tr>
                  <td class="border border-dark" scope="row">Ana Fernandez</td>
                  <td contenteditable="true" class="border border-dark text-center">7</td>
                </tr>
  
              </tbody>
              </table>
              <p class="text-right">
              <a class="btn btnSave mb-3">Guardar</a>
            
          </div>
        </div>
      </div>