
<body class="bd-example" >
  <h1>Calificador</h1>
  
  <div class="container-fluid">
    <div class="row">  
        <div class="col-8">
          <table class="table ">
            <thead>
              <tr >
                <th class="col-6 border border-dark text-center "  scope="col">Estudiantes</th>
                <th class="col-6 border border-dark text-center " scope="col">Notas</th>
              </tr>
            </thead>
  
            <tbody>
              <tr>
                <td class="border border-dark" scope="row">Marta Sanchez</td>
                <td class="border border-dark text-center">6</td>
              </tr>

              <tr>
                <td class="border border-dark" scope="row">Marta Lopez</td>
                <td class="border border-dark text-center">8</td>
              </tr>

              <tr>
                <td class="border border-dark" scope="row">Juan Ramirez</td>
                <td class="border border-dark text-center">6</td>
              </tr>
      
              <tr>
                <td class="border border-dark" scope="row">Ana Fernandez</td>
                <td class="border border-dark text-center">7</td>
              </tr>

            </tbody>
          </table>
<br>
<br>
<br>
<br>
          <p align="right">
            <button type="btn btnSave" ><strong>Editar</strong></button>
            <button type="btn btnSave"  ><strong>Guardar</strong></button>
          </p>
        </div>
      </div>
    </div>

</body>