<div id="datosAlumnos">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" class="heading">
        <span
          >Santiago, Rebequi 45193142 - 7mo etp</span
        >
        <button type="button" class="btn btn-danger">Eliminar</button>
        <a
          routerLink="/dashboard/editar-datos-personales"
          class="btn btn-primary"
          >Editar</a
        >
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target='#flushCollapse1'
          aria-expanded="false"
          aria-controls="collapseOne"
        ></button>
      </h2>
      <div
        id="flushCollapse1"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div id="tutorInfo">
            <span> <b>Nombre:</b> Santiago </span>
            <span> <b>Apellido:</b> Rebequi</span>
            <span> <b>DNI:</b> 45132512 </span>
            <span> <b>Telefono:</b> +12 234 456781</span>
            <span> <b>Cuil:</b> 21451325121</span>
            <span> <b>fecha de nacimiento:</b> 12/12/12 </span>
            <span> <b>Profesion:</b> veterinario </span>
            <span> <b>Pais:</b> Argentina </span>
            <span> <b>Provincia:</b> Chubut </span>
            <span> <b>Ciudad:</b> Esquel </span>
            <span> <b>Domicilio:</b> Chacabuco 431 </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <button routerLink="../editar-datos-personales" class="btn btn-primary">
      Agregar Alumno
    </button>
  </div>
</div>
