<div class="container">
  <h2>Movimientos de Cooperadora Escolar</h2>
    <div class="balance">
    Balance total: 
    <span [class.positivo]="balance >= 0" [class.negativo]="balance < 0">
      {{ balance | currency:'ARS':'symbol':'1.0-0' }}
    </span>
  </div>
</div>

  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Tipo</th>
        <th>Monto</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Comentario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (mov of movimientos; track mov) {
        <tr>
          <td>{{ mov.fecha }}</td>
          <td [class.ingreso]="mov.tipo === 'Ingreso'" [class.egreso]="mov.tipo === 'Egreso'">
            {{ mov.tipo }}
          </td>
          <td>{{ mov.monto | currency:'ARS':'symbol':'1.0-0' }}</td>
          <td>{{ mov.origen }}</td>
          <td>{{ mov.destino }}</td>
          <td>{{ mov.comentario }}</td>
          <td>
            <button class="btn btnAdd">Editar</button>
            <button class="btn btnDelete">Eliminar</button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  

